<!-- LOGO HEADER start-->
<div class="header_group" id="headewr_group">
    <div class="navbar navbar-inverse set-radius-zero bg_hed" style="padding:0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>-->
                <a class="navbar-brand" href="index.html">

                    <img src="/assets/img/logo.png" width="42" height="" />
                    <span class="px-2" style="color:#ffff;font-weight:600;">solor x</span>
                </a>

            </div>

            <div class="right-div">

                <a href="#" class="px-2"><i class="fa fa-user isize" aria-hidden="true"></i></a>
                <a href="#" class="px-2"><i class="fa fa-bell isize" aria-hidden="true"></i></a>
                <a (click)="logOut()" href="#" class="px-2"><i class="fa fa-power-off isize" aria-hidden="true"></i></a>
                <a href="#" class="px-2 mob_hidd"><i class="fa fa-bars isize" aria-hidden="true" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" data-toggle="collapse"></i></a>


            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->

    <!-- MENU SECTION start-->
    <!-- <div class="container-fluid menu_back_g">
        <ul class="nav">
            <li ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1">Dashboard</a>
            </li>
            <li ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Sites</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a class="dropdown-item" href="#">Add Sites</a>
                    <a class="dropdown-item" href="#">Site Details</a>
                </div>
            </li>
            <li ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Data Analysis</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a class="dropdown-item" href="#">Power Generation</a>
                </div>
            </li>
            <li ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Meter Management</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a class="dropdown-item" href="#">Add Meter</a>
                    <a class="dropdown-item" href="#">Meter Details</a>
                </div>
            </li>
            <li ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Inverter Management</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a class="dropdown-item" href="#">Add Inverter</a>
                    <a class="dropdown-item" href="#">Inverter Details</a>
                </div>
            </li>
        </ul>
    </div>
</div>-->

    <!--test header-->
    <div class="">
        <nav class="navbar navbar-expand-lg container-fluid menu_back_g " style="padding:0px">



            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="nav container-fluid">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sites
              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Add Sites</a>
                            <a class="dropdown-item" href="#">Site Details</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Data Analysis
                  </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Power Generation</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Meter Management
                      </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Add Meter</a>
                            <a class="dropdown-item" href="#">Meter Details</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inverter Management{{loggedinUser.firstName}}
                          </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Add Inverter</a>
                            <a class="dropdown-item" href="#">Inverter Details</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>