/*dashboard heading start*/

.text_dash {
    color: #7f7e86;
    font-size: 20px;
}


/*dashboard heading end*/


/* power section css*/

.alert-info_edit {
    color: #ffffff;
    background-color: rgb(25, 79, 125);
    border-color: #10a6bd;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 46px 7px;
}


/* power section end*/


/*alert section box css start*/

.alert_scroll {
    max-height: 159px;
    overflow-y: scroll;
}


/*alert scroll css*/

.alert_scroll::-webkit-scrollbar {
    width: 10px;
}

.alert_scroll::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    border-radius: 10px;
    color: red;
}

.alert_scroll::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    color: red;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*alert scroll end*/


/*alert box css end*/


/*sites css end*/

.color_site_alert {
    font-size: 13px;
    color: #545b62;
}

.color_sizealert {
    font-weight: 300;
    font-size: 30px;
}


/*sites css end*/


/*news part css start*/

ul.timeline {
    list-style-type: none;
    position: relative;
    font-size: 14px;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
    text-align: justify;
}

ul.timeline>li a {
    color: #194f7d;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #05467e;
    left: 23px;
    width: 15px;
    height: 15px;
    z-index: 400;
}


/*news part css end*/