<!-- MENU SECTION END-->
<!--total power details start-->
<!--<div class="container-fluid" style=" border-bottom: 1px solid gray">
  <div class="row">
      <div class="col-md-9 col-lg-9 col-xl-9" style="background: #ccd0d4;">
          <div class="row">
              <div class="col-md-3 col-lg-3 col-xl-3">
                  <div class="media">
                      <div class="media-left">
                          <img src="/assets/img/dashboard.png" class="media-object" style="width:60px">
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">Total Power</h4>
                          <p>550 KWH</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                  <div class="media">
                      <div class="media-left">
                          <img src="/assets/img/electric-sunglasses (1).png" class="media-object" style="width:60px">
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">Total Power</h4>
                          <p>550 KWH</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                  <div class="media">
                      <div class="media-left">
                          <img src="/assets/img/Energy (1).png" class="media-object" style="width:60px">
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">Total Power</h4>
                          <p>550 KWH</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                  <div class="media">
                      <div class="media-left">
                          <img src="/assets/img/Energy (1).png" class="media-object" style="width:60px">
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">Total Power</h4>
                          <p>550 KWH</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">

      </div>
  </div>
</div>-->
<!--test section-->
<div class="container-fluid" style="background: #233b52;padding-top: 10px;">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-6 offset-md-1">
            <div class=" alert-info_edit back-widget-set text-center">
                <img src="/assets/img/dashboard.png" class="media-object" style="width:35px">
                <h4 style="font-size: 15px">Total Power</h4>
                <p>555 KWH</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            <div class=" alert-info_edit back-widget-set text-center">
                <img src="/assets/img/electric-sunglasses (1).png" class="media-object" style="width:35px">
                <h4 style="font-size: 15px">Total Energy</h4>
                <p>500 KWH</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            <div class=" alert-info_edit back-widget-set text-center">
                <img src="/assets/img/Energy (1).png" class="media-object" style="width:35px">
                <h4 style="font-size: 15px">Total Import Energy</h4>
                <p>550 KWH</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            <div class=" alert-info_edit back-widget-set text-center">
                <img src="/assets/img/Energy (1).png" class="media-object" style="width:35px">
                <h4 style="font-size: 15px">Total Export Energy </h4>
                <p>550 KWH</p>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6">
            <div class=" alert-info_edit back-widget-set text-center">
                <img src="/assets/img/Energy (1).png" class="media-object" style="width:35px">
                <h4 style="font-size: 15px">Total Export Energy </h4>
                <p>550 KWH</p>
            </div>
        </div>
    </div>
</div>
<!--test section end-->


<!--total power details end-->
<!--site details start-->
<div class="container">

    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="container">
                <div class="page-header">
                    <h4 class="text-left my-3 text_dash">Sites</h4>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="" style="text-decoration: none;">
                        <div class="back-widget-set text-center">
                            <img src="/assets/img/Slice 5.png" width="80" height="50px" />
                            <h2 class="text-info color_sizealert">500</h2>
                            <h6 class="color_site_alert">Total Site</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="" style="text-decoration: none;">


                        <div class="back-widget-set text-center">
                            <img src="/assets/img/Slice2.png" width="80" height="50px" />
                            <h2 class="text-success color_sizealert">58</h2>
                            <h6 class="color_site_alert">Connected</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="" style="text-decoration: none;">
                        <div class="back-widget-set text-center">
                            <img src="/assets/img/Slice3.png" width="80" height="50px" />
                            <h2 class="text-danger color_sizealert">10</h2>
                            <h6 class="color_site_alert">Disconnected</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="" style="text-decoration: none;">
                        <div class="back-widget-set text-center">
                            <img src="/assets/img/Slice4.png" width="80" height="50px" />
                            <h2 class="text-warning color_sizealert">30</h2>
                            <h6 class="color_site_alert">Critical</h6>
                        </div>
                    </a>
                </div>
                <div class="container">
                    <div class="text-right">
                        <a href="#" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true" style="margin-top: 40px;">view all</a>
                    </div>
                </div>
                <!--map section start-->

                <!--map section end-->
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">



            <div class="container">
                <div class="row">
                    <div class="page-header">
                        <h4 class="text-left my-3 text_dash">Alarm</h4>
                    </div>
                </div>
                <div class="row alert_scroll">
                    <p *ngFor="let alert of alerts">
                        <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
                    </p>
                    <ul class="" style="text-align: justify;">
                        <li class="text-success">
                            <p>site1 Receving low voltage</p>
                        </li>
                        <li class="text-warning">
                            <p>site1 Receving highest voltage</p>
                        </li>
                        <li class="text-danger">
                            <p>site1 disconnected low voltage</p>
                        </li>
                        <li class="text-secondary">
                            <p>site1 Receving low voltage</p>
                        </li>
                        <li class="text-light">
                            <p>site1 Receving highest voltage</p>
                        </li>
                        <li class="text-dark">
                            <p>site1 Receving highest voltage</p>
                        </li>
                        <li class="text-success">
                            <p>site1 Receving highest voltage</p>
                        </li>
                        <li class="text-success">
                            <p>site1 Receving highest voltage</p>
                        </li>
                        <li>
                            <p>site1 Receving highest voltage</p>
                        </li>
                    </ul>
                </div>

                <div class="text-right">
                    <a href="#" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">view all</a>
                </div>
            </div>



        </div>
    </div>
</div>
<!--site details end-->


<!--map section-->
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8" style="position: relative;top: -14px;">
            <div class="container">

                <div class="page-header">
                    <h4 class="text-left my-3 text_dash">Geo - Location Solor Sites</h4>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="/assets/img/World_map_green.png" width="inherit" height="" style="width: inherit" />
                </div>

            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="page-header">
                <h4 class="text-left my-3 text_dash">News</h4>
            </div>
            <div class="container mb-5">
                <div class="row">


                    <ul class="timeline">
                        <li>
                            <a target="_blank" href="#">Solor x site </a>
                            <a href="#" class="float-right">21 March, 2018</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.....</p>
                        </li>
                        <li>
                            <a href="#">Solor x Job Seekers</a>
                            <a href="#" class="float-right">4 March, 2018</a>
                            <p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. ..</p>
                        </li>
                        <li>
                            <a href="#">Solor x Employers</a>
                            <a href="#" class="float-right">1 April, 2018</a>
                            <p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. ...</p>
                        </li>
                    </ul>

                </div>
                <div class="text-right">
                    <a href="#" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">view all</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--map section-->